* {font-family: 'Amatic SC', cursive;}

html, body{
    height: 100%;
    margin: 0;
}
a{
    color : inherit;
    text-decoration:none;
}

#home{
    background-image: url("../img/crayon.jpeg");
    background-size: cover;
    background-position: center;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center; 

}

#articlecomp {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: flex-start; 
    flex-wrap: nowrap;
    
}

.article {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    flex-wrap: nowrap; 
}

article h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

#image1{
    width: 100%; 
}

#image2{
    width: 100%; 
}
#image3{
    width: 70%; 
}
