* {font-family: 'Amatic SC', cursive;}
html, body{
    height: 100%;
    margin: 0;
}
a{
    color : inherit;
    text-decoration:none;
}

header{
    background-color: rgb(5, 5, 5);
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center; 
    color: white;
    position: fixed;
}

header p {
    color: white;
    font-size: 35px;
}

h1{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    background-attachment: fixed;
    font-size: 100px;
    margin: 0px;
}